{{!
You can use this template to render any errors on your site if you wish
}}
<main>
   <h1>You have been logged out</h1>
   <p>Click <a href="/login">here</a> to log back in.</p>
   <img src="/public/assets/big-dog.jpg" alt="a big dog in a grassy field eating a big bone with the marrow">
</main>