{{!-- registration form --}}
<main>
    <h2>Register</h2>
    <form id="register_form">
        <label for="username_input">Username</label><br>
        <input name="username_input" id="username_input">
        <p id="username_error" class="error"></p><br>
        <label for="email_input">Email</label><br>
        <input name="email_input" id="email_input">
        <p id="email_error" class="error"></p><br>
        <label for="password_input">Password</label><br>
        <input name="password_input" id="password_input" type="password">
         <p id="password_error" class="error"></p><br>
        <label for="password_confirm">Password Confirmation</label><br>
        <input name="password_confirm" id="password_confirm" type="password">
        <p id="password_confirm_error" class="error"></p><br>
        <button type="submit">Register</button> <br>
        <p id="error" class="error"></p>
    </form>
    <a href="/login">Already have an account? Click here to log-in</a>
    <script type='module' src="../public/js/register.js"></script>
</main>
