<div id="user_edit">
    <h3>Edit Profile</h3>
    <form id="user_edit_form">
        <p id="success" class="success"></p><br>
        <label for="username_input">Username</label>
        <input type="text" name="username_input" id="username_input" placeholder="{{username}}"/>
        <p id="username_error" class="error"></p><br>
        <label for="email_input">Email</label>
        <input type="text" name="email_input" id="email_input" placeholder="{{email}}"/>
        <p id="email_error" class="error"></p><br>
        <label for="password_input">New Password</label>
        <input type="password" name="password_input" id="password_input"/>
        <p id="password_error" class="error"></p><br>
        <label for="password_confirm">New Password Confirm</label>
        <input type="password" name="password_confirm" id="password_confirm"/>
        <p id="password_confirm_error" class="error"></p><br>
        <label for="bio">Biography</label>
        <textarea name="bio" id="bio" placeholder="{{bio}}"></textarea>
        <p id="bio_error" class="error"></p><br>
        <p id="error-edit" class="error"></p>
        <input type="submit" value="Save" />
    </form>

    <script type='module' src="/public/js/user/edit.js"></script>
</div>