<div id="followers">
    <h2>Followers</h2>
    <p id="method_name" hidden="">getFollowers</p>
    <ul id="user_list"></ul>
    <script type='module' src="/public/js/user/user-list.js"></script>
</div>