<div id="following">
    <p id="userId" hidden="">{{userId}}</p>
    <p id="method_name" hidden="">getFollowing</p>
    <ul id="user_list"></ul>
    <script type='module' src="/public/js/user/user-list.js"></script>
</div>