<div id="user-poems">
    <h3>Liked Poems</h3>
    <p id="method_name" hidden="">getLikedPoems</p>
    <ul id="poems_list"></ul>
    <script type='module' src="/public/js/user/poem-list.js"></script>
</div>