<div class="post-comment">
    <form id="post-comment-form">
        <label for="comment-body"></label>
        <textarea name="comment-body" id="comment-body"
            placeholder="Say something..."></textarea>
        <label id="comment-body-error" class="error"></label><br>

        <label for="tag-select"></label>
        <select name="tag-select" id="tag-select">
            <option value>--</option>
        </select>
        <label id="tag-select-error" class="error"></label><br>

        <button type="submit">Post</button>
        <label id="error" class="error"></label>
    </form>
    <script type="module" src="/public/js/comments/post-comment.js"></script>
</div>