{{!-- FIXME Check HTML validity --}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/site.css">
    </head>

    <body>
        <header>
            <img src="/public/assets/tmp_logo_small.png" alt="Logo"
                id="website-logo">

            <h1 id="website-title">Poet-me</h1>

            {{!-- Make a form out of this --}}
            <label for="search-bar"></label>
            <input id="search-bar" type="text" name="search-bar"
                placeholder="Search for...">

            <label for="search-select"></label>
            <select name="serach-select" id="search-select">
                <option value="user">User</option>
                <option value="poem">Poem</option>
                <option value="tag">Tag</option>
            </select>

            {{!-- Invalid html: button can't be a descendent of link. Check
            https://stackoverflow.com/questions/3303675/how-to-make-an-input-type-button-act-like-a-hyperlink-and-redirect-using-a-get-r
            to find a fix --}}
            <a href="/write">
                <button id="button-write" type="button">Write</button>
            </a>

            <div id="user-account">
                <a href="/testing">User account</a>
            </div>

        </header>

        <div id="default-canvas">
            <div id="left-column" class="side-column">
                <h2>Poets you follow</h2>
                {{!-- List of top following here --}}
            </div>

            {{{body}}}

            <div id="right-column" class="side-column">
                <h2>Most-used tags</h2>
                {{!-- List of top tags here --}}
            </div>
        </div>

        <footer>
            CS 546 - Poetry Sharing Website
            <br>
            Adrien Huet - Brandon Kreiser - Joseph Vasallo - Roger Shagawat
        </footer>
    </body>
</html>