{{!-- html stuff for everything --}}
<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta charset="utf-8">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/public/css/site.css">
   </head>
   <header>
      <h1>Poetry Sharing</h1>
      <ul class="navbar">
         <li class="navelem"><a href="/">Homepage</a></li>
         <li class="navelem"><a href="/user">User</a></li>
         <li class="navelem"><a href="/login">Login</a></li>
         <li class="navelem"><a href="/poems">Poems</a></li>
         <li class="navelem"><a href="/editor">Editor</a></li>
      </ul>
   </header>
   {{{body}}}
</html>