{{!-- FIXME Check HTML validity --}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/site.css">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <img src="/public/assets/tmp_logo_small.png" alt="Logo"
                id="website-logo">

            <h1 id="website-title">Poet-me</h1>
        </header>

        <div id="default-canvas">
            {{{body}}}

        </div>

        <footer>
            CS 546 - Poetry Sharing Website
            <br>
            Adrien Huet - Brandon Kreiser - Joseph Vasallo - Roger Shagawat
        </footer>
    </body>
</html>