{{!
You can use this template to render any errors on your site if you wish
}}
<main>
   <p class="error">{{error}}</p>
   <img src="/public/assets/big-dog.jpg" alt="Big dog in a grassy field eating a big bone with marrow">
</main>