{{!-- login form --}}
<main>
    <h2>Login</h2>
    <form id="login_form">
        <label for="username_input">Username</label><br>
        <input name="username_input" id="username_input" type="username"><br>
        <label for="password_input">Password</label><br>
        <input name="password_input" id="password_input" type="password"><br>
        <button type="login">Login</button> <br>
        <label id="error"></label>
    </form>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script type='module' src="../public/js/login.js"></script>
</main>