{{!-- login form --}}
<body>
    <h2>Login</h2>
    <form id="login_form">
        <label for="username_input">Username</label><br>
        <input name="username_input" id="username_input" input="text"><br>
        <label for="password_input">Password</label><br>
        <input name="password_input" id="password_input" input="password"><br>
        <button type="login">Login</button>
    </form>
</body>