<main>
    <p id="current-tagid"hidden="">{{tagId}}</p>
    <h2>Poems that have been tagged with "{{tagString}}"</h2>
    <ol id="tag-list"></ol>
    <script type='module' src="/public/js/tags/tagView.js"></script>
</main>