<main class="user-container">
    <div class="user-header">

        <div class="author-picture user-picture">
            {{username}}
        </div>

        <div class="user-profile">

            <div class="user-info">

                <div class="user-numbers">

                    <h2>{{username}}</h2>
                    <div class="user-social-info">
                        <div class="user-follows">
                            <a href="/user/followers">Followers</a>
                            <p>nb_followers</p>
                        </div>
                        <div class="user-follows">
                            <a href="/user/following">Following</a>
                            <p>nb_following</p>
                        </div>

                    </div>

                    <div class="user-tag-info">
                        <p>Favorite tag:</p>
                        <div class="tag-info">
                            <p>tagName</p>
                            <p>tagCount</p>
                        </div>
                    </div>

                    <div class="user-tag-info">
                        <p>Most tagged with:</p>
                        <div class="tag-info">
                            <p>tagName</p>
                            <p>tagCount</p>
                        </div>
                    </div>

                </div>

                <div class="user-bio">
                    <p>{{bio}}</p>
                    <p class="date-string">Account Age: {{account_age}}</p>
                </div>

            </div>

            <div class="user-actions">
                <a href="/user/history">History</a>
                <a href="/user/liked-poems">Liked Poems</a>
                <a href="/user/tagged-poems">Tagged Poems</a>
            </div>

        </div>

    </div>

    <ul>
        <li><a href="/user/edit">Edit Profile</a></li>
    </ul>

    {{#if poems}}
    {{> user/poems}}
    {{/if}}

    {{#if history}}
    {{> user/history}}
    {{/if}}

    {{#if liked_poems}}
    {{> user/liked-poems}}
    {{/if}}

    {{#if tagged_poems}}
    {{> user/tagged-poems}}
    {{/if}}

    {{#if followers}}
    {{> user/followers}}
    {{/if}}

    {{#if following}}
    {{> user/following}}
    {{/if}}

    {{#if edit}}
    {{> user/edit}}
    {{/if}}
</main>