body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 2px solid gray;

}

#website-logo {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

#search-bar,
#search-select,
#button-write {
    margin: 0 5px;
}

#default-canvas {
    display: flex;
    flex: 1;
}

main {
    flex: 1;
}

.side-column {
    width: 250px;
    text-align: center;
}

#right-column {
    border-left: 1px solid gray;
    margin-left: 10px;
}

#left-column {
    border-right: 1px solid gray;
    margin-right: 10px;
}

footer {
    margin-top: auto;
    background-color: lightgray;
    text-align: center;
    padding: 10px 0;
}

.navbar {
   margin: 10px;
   display: flex;
}

.navelem {
   list-style-type: none;
   margin-left: 15px;
}

/* Poem view */

/* Just for debugging */
/* .poem-container > * {
    border: 1px dotted gray;
} */

.poem-container {
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
}

.poem-header {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    max-height: 30%;
}

.author-picture {
    width: 128px;
    height: 128px;
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 100%;
    text-align: center;
}

.poem-body {
    display: flex;
    flex-direction: row;
    height: 350px;
}

.poem-markdown {
    flex: 2;
    border-radius: 8px;
    border: 1px solid black;
    margin: 5px;
    padding: 15px;
}

.poem-comments {
    flex: 1;
    overflow-y: auto; /* Makes the comment window scrollable if necessary*/
    padding: 0;
    margin: 0;
}

.poem-comments h2 {
    text-align: center;
    margin: 0;
}

.poem-comment-container {
    border: 1px darkgray;
    border-style: solid none none none;
    /* border-radius: 5px; */
    padding: 5px;
    list-style-type: none;
}

.poem-comment-author-info {
    display: flex;
    flex-direction: row;
}

.poem-comment-author-info p {
    margin-left: 5px;
}

.poem-comment-container .comment-string {
    margin: 5px 0;
    margin-left: 25px
}

.homepage-container ul {
    padding-left: 100px;
}

.homepage-poems {
    list-style-type: none;
}

.homepage-poems-item {
    margin-bottom: 15px;
}

.homepage-poems-item .author-picture {
    display: block;
    height: 92px;
    width: 92px;
    border: 1px solid black;
    margin-right: 20px;
    border-radius: 100%;
    text-align: center;
}

.write-poem-container {
    padding: 5px;
    padding-bottom: 20px;
}

#new-poem-form {
    display: flex;
    flex-direction: column;
}

.full-width-input {
    display: flex;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 3px;
	min-height: 3em;
	margin: 20px 0;
	width: 100%;
    padding: 5px 10px;
}

#reading-link {
    width: 400px;
    margin-right: 25px;
}

.new-poem-others {
    display: flex;
    justify-content:flex-start;
}

.new-poem-submit {
    display: flex;
    justify-content: flex-end;
}

#submit-poem-button {
    width: 25%;

}