<main>
   <p id="poemId" hidden="">{{poem._id}}</p>
   <p id="success" class="success"></p>
   <form class="edit-poem-form" id="edit-poem-form">
      <label for="title_input">Title: </label>
      <input type="text" name="title" id="title_input" placeholder="Poem Title" value="{{poem.title}}"
         class="full-width-input">
      <label id="title_error" class="error"></label><br>

      <label for="poem-body-area">Body: </label>
      <textarea name="body" placeholder="Write your poem here!" id="poem-body-area">{{poem.body}}</textarea>
      <label id="body_error" class="error"></label><br>

      <label for="reading-link">Link to reading:</label>
      <input type="url" name="linkInput" id="reading-link" value="{{poem.link}}">
      <label id="link_error" class="error"></label><br>

      <label for="private-checkbox"> Visibility: </label>
      <select name="private" value="on" id="private-checkbox">
         <option value="false">Public</option>
         <option value="true">Private</option>
      </select>
      <label id="private_error" class="error"></label><br>
      <input type="submit" value="Save"></input>
   </form>

   <button id="delete-poem">Delete</button>


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
   <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
   <script>
      const easyMDE = new EasyMDE({ element: document.getElementById('poem-body-area') });
   </script>
   <script type='module' src="/public/js/poems/edit-poem.js"></script>
</main>