<main class="write-poem-container">
   <h2>Write a new poem</h2>
   <form action="/poems/new" method="POST" class="new-poem-form" id="new-poem-form">
   <form action="/poems/new" method="POST" class="new-poem-form" id="new-poem-form">
      <div class="new-poem-title">
         <label for="title_input">
            {{!-- Title: --}}
            <input type="text" name="title" id="title_input" placeholder="Poem Title" value="{{poem.title}}" class="full-width-input">
         </label>
         <span id="title_error" class="error"></span><br>
      </div>

      <div class="new-poem-body">
         <span id="body_error" class="error"></span><br>
         <label for="poem-body-area">
            {{!-- Body: --}}
            <textarea name="body" placeholder="Write your poem here!" id="poem-body-area">{{poem.body}}</textarea>
         </label>
      </div>

      <div class="new-poem-others">
         <label for="reading-link">
            Link to reading
            <input type="url" name="link" id="reading-link" value="{{poem.link}}">
         </label>
         <span id="link_error" class="error"></span><br>
         
         <span id="private_error" class="error"></span><br>
      </div>

      <div class="new-poem-submit">
         <input type="submit" id="submit-poem-button" value="Submit Poem"></input>
      </div>

   </form>

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
   <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
   <script>
      const easyMDE = new EasyMDE({ element: document.getElementById('poem-body-area') });
   </script>
   <script type='module' src="/public/js/poems/new-poem.js"></script>
</main>