<main class="write-poem-container">
   <h2>Write a new poem</h2>
   <form action="/poems/new" method="POST" class="new-poem-form"
      id="new-poem-form">
      <div class="new-poem-title">

         <label for="title">
            {{!-- Title: --}}
            <input type="text" name="title" placeholder="Poem Title"
               value="{{poem.title}}" class="full-width-input">
         </label>
      </div>

      <div class="new-poem-body">

         <label for="body">
            {{!-- Body: --}}
            <textarea name="body" placeholder="Write your poem here!"
               id="poem-body-area">{{poem.body}}</textarea>
         </label>
      </div>

      <div class="new-poem-others">
         <label for="link">
            Link to reading
            <input type="url" name="link" id="reading-link"
               value="{{poem.link}}">
         </label>
         <label for="private">
            Visibility:
            <select name="private" value="on" id="private-checkbox">
               <option value="false">Public</option>
               <option value="true">Private</option>
            </select>
         </label>
      </div>

      <div class="new-poem-submit">
         <button type="submit" id="submit-poem-button">Submit Poem</button>
      </div>

   </form>

   <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
   <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
   <script>
      const easyMDE = new EasyMDE({ element: document.getElementById('poem-body-area') });
   </script>
</main>