{{!-- Page for displaying tag search results --}}
<main>
    <h2>Tag Search Results:</h2>
    
    <ul>
        {{#each foundTags}}
            <li><a href="/tags/{{this._id}}">{{this.tagString}}</a></li>
        {{/each}}
    </ul>
    
</main>