{{!-- Testing page for manipulating tags --}}
<main>
    <h2>Tags Testing</h2>
    <p>Create new tag:</p>
    <form action="/tags/createNewTag" method="post">
        <label for="newTagString">Tag string:</label>
        <input type="text" id="newTagString" name="newTagString">
        <label for="newTaggedPoem">Tagged poem:</label>
        <input type="text" id="newTaggedPoem" name="newTaggedPoem">
        <input type="submit" value="Submit">
    </form>

    <p>Search for tag with string:</p>
    <form action="/tags/search" method="post">
        <label for="searchString">Tag string:</label>
        <input type="text" id="searchString" name="searchString">
        <input type="submit" value="Submit">
    </form>
</main>